@import "../shell/shell.component.scss";

.container {
    height: $__containerHeight;
}

ul {
    @include center-content();
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;

    li {
        font-size: $__fontSize;
    }
}
