@import "../shell/shell.component.scss";

.container {
    height: 30vh;
}

ul {
    @include center-content();
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;

    li {
        font-size: 2vh;
    }
}
