@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container {
    @include center-content();
    height: 50vh;
}

ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;
}

li {
    @include center-content();
    cursor: pointer;
    font-size: 1.5vw;
    padding: 10px;
    color: white;
    background-color: black;

    &.carret {
        padding-bottom: 15px;
        font-size: 2vw;
        width: 100% !important;
    }
}

.active {
    text-decoration: underline;
    color: rgb(51, 141, 168);
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}
