<div class="pagination-container">
    <ul>
        <li class="carret"
            [ngClass]="{'disabled': currentPage === 1}"
            (click)="selectPage(currentPage - 1)">
            &#x2039;
        </li>
        <li *ngFor="let page of pageNumbers"
            (click)="selectPage(page)">
            <span [ngClass]="{'active': page === currentPage}">
                {{ page }}
            </span>
        </li>
        <li class="carret"
            [ngClass]="{'disabled': currentPage === lastPage}"
            (click)="selectPage(currentPage + 1)">
            &#x203A;
        </li>
    </ul>
</div>