@import "../../../shell/shell.component.scss";

.pagination-container {
    @include center-content();
    height: $__containerHeight;
}

ul {
    list-style: none;
    display: flex;
    padding-inline-start: 0px;

    li {
        @include center-content();
        cursor: pointer;
        font-size: $__fontSize;
        padding: 10px;
        color: white;
        background-color: black;

        &.carret {
            padding-bottom: 13px;
            font-size: $__fontSize;
        }
    }
}

.active {
    text-decoration: underline;
    color: rgb(51, 141, 168);
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}

form {
    @include center-content();
}

label,
button {
    margin: 10px 0;
}

.error {
    color: red;
}
