$__fontSize: 2.3vh;
$__containerHeight: 30vh;

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    @include center-content();
    flex-direction: column;
}
